
.newsletter {
    width: 82%;
    background-image: linear-gradient(180deg,#e5b0ea,#9ba29d22 60%);
    text-align: center;
    padding: 20px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom:100px ;
    border-radius: 40px;
    margin-left: 130px;
    border: 1px solid black;
  }
  
  .newsletter h1 {
    font-size: 35px;
    margin-bottom: 5px;
  }
  
  .newsletter p {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .newsletter input[type="email"] {
    width: 42%;
    height: 50px;
    height: auto;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    gap: 20px;
    
  }
  
  .newsletter .btn {
    width: 20%;
    height: 45px;
    font-size: 15px;
    display: block;
    font-weight: 600;
    background-color: #ec1515;
    color: rgb(231, 226, 226);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    justify-content: center;
    border-radius: 40px;
    margin: auto;
  }
  .newsletter button:hover{
     background: rgb(78, 76, 76);
     font-size: 17px;
  }
  
  /* Media query for responsive design */
  @media screen and (max-width: 600px) {
    .newsletter {
      padding: 10px;
    }
  
    .newsletter h1 {
      font-size: 20px;
    }
  
    .newsletter p {
      font-size: 14px;
    }
  
    .newsletter input[type="email"] {
      padding: 8px;
    }
  
    .newsletter .btn {
      padding: 8px 16px;
    }
  }
  